<!DOCTYPE html>
<htmll>
	<head>
		<meta charset="UTF-8">
        <title>{% block title %}Admin Panel{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/admin_sidebar.css') }}" />
        {% block stylesheets %}{% endblock %}
	</head>

	<body>
		<div class="d-flex" id="wrapper">

			<!-- Sidebar -->
			<div class="bg-light border-right" id="sidebar-wrapper">
				<div class="sidebar-heading">
                    Administration
                </div>
				<div class="list-group list-group-flush">
					<a href="{{ path('admin.home') }}" class="list-group-item list-group-item-action bg-light {% if app.request.get('_route') == 'admin.home' %} admin-active {% endif %}">Accueil</a>
					<a href="{{ path('admin.album') }}" class="list-group-item list-group-item-action bg-light {% if app.request.get('_route') == 'admin.album' %} admin-active {% endif %}">Albums</a>
					<a href="{{ path('admin.juron') }}" class="list-group-item list-group-item-action bg-light {% if app.request.get('_route') == 'admin.juron' %} admin-active {% endif %}">Jurons</a>
					<a href="{{ path('admin.page') }}" class="list-group-item list-group-item-action bg-light {% if app.request.get('_route') == 'admin.page' %} admin-active {% endif %}">Pages</a>
				</div>
			</div>

			<!-- Page Content -->
			<div id="page-content-wrapper">

				<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
					<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
							{% if app.user %}<li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Deconnexion</a></li>{% endif %}
						</ul>
					</div>
				</nav>


				<div class="container-fluid">
					<div class="row">
						<div class="col-sm">
							<h1 class="mt-4">{% block page_title %}{% endblock %}</h1>
						</div>
						<div class="col-sm d-flex flex-row-reverse align-items-end p-2 float-right">
							<div class="btn-group btn-group-sm" role="group" aria-label="Header btn group">
								{% block buttons_area %}{% endblock %}
							</div>
						</div>
					</div>
					<hr class="my-4">
                    {% block body %}

                    {% endblock %}
				</div>
			</div>
		</div>

		<script src="{{ asset('js/jquery-3.4.1.slim.min.js') }}"></script>
		<script src="{{ asset('js/popper.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
		<script>
			$("#menu-toggle").click(function (e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
		</script>
		{% block javascripts %}{% endblock %}
	</body>
</htmll>