{% extends "base.html.twig" %}

{% block title "Les albums" %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <div class="row flex">

            {% for album in albums %}
            <div class="col-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('images/albums/') }}{{album.image}}.jpg" alt="{{album.image}}" width="244px" height="342">
                    <div class="card-body">
                        <p class="card-text text-center"><a href="{{ path('album.show', {ref: album.ref, slug: album.slug}) }}">{{ album.titre }}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>    
</div>
{% endblock %}